html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono";
}

body{
    color: rgb(255, 255, 255);
}

section{
    /* scroll-snap-align: center; */


    background-color: #0D0000;
}

/* nav{
    position: fixed;
    width: 100%;
    background-color: transparent;
} */
