html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono";
}

body{
    color: rgb(255, 255, 255);
}

section{
    /* height: 100vh; */
    scroll-snap-align: center;
    /* background: rgb(36,10,79);
    background: linear-gradient(0deg, rgba(36,10,79,1) 0%, rgba(7,0,17,1) 100%); */

    /* background: rgb(36,10,79);
    background: linear-gradient(to right, #0b0105, #17030b, #1f040e, #260610, #2e0610, #2e0610, #2e0610, #2e0610, #260610, #1f040e, #17030b, #0b0105); */


    background-color: #0D0000;
}

/* nav{
    position: fixed;
    width: 100%;
    background-color: transparent;
} */
